@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.heading');
  }
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #7C3AED;
  --rdp-background-color: #e7e7e7;
  --rdp-accent-color-dark: #7C3AED;
  --rdp-background-color-dark: #333333;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
  margin: 1em;
}

.rdp-day_selected, 
.rdp-day_selected:focus-visible, 
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}